

.header{
  text-align: center;
  font-size: 28pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 80px;
}

.footer{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.copyright{
  text-align: center;
  font-size: 8pt;
}

.entry{
  padding-bottom: 10px;
}

.headerRow{
  font-weight: bold;
  font-size: 14pt;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

td{
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

td.leftAlign{
  text-align: left;
}

td.rightAlign{
  text-align: right;
}

.link{
  text-decoration: underline;
  cursor: pointer;
}

body{
  text-align: center;
  text-decoration-color: 'black';
  background-color: antiquewhite;
  margin-left: 10px;
  margin-right: 10px;
}

.postInfo{
  text-align: left;
}

.selectedPostHeaderCell{
  font-weight: bold;
  width: 120px;
  padding: 10px 20px 10px 20px;
}

.centered{
  text-align: center;
}

td.noborder{
  border: 0px;
}